In [31]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [3]:
file = open("reuters21578/reut2-000.sgm")
content = file.read()
header = len("<?xml version=\"1.0\" encoding=\"utf-8\"?>")
# print(content[36:1000])
content = content[:36] + "<ABSROOT>" + content[36:] + "</ABSROOT>"
soup = BeautifulSoup(content, "xml")

In [40]:
article_objects = soup.find_all('REUTERS')
# print(article_objects[0])
body = []
topic = []
dir_name = 'reuters21578'
for fn in os.listdir(dir_name):
    print(fn)
    if fn[:5] == 'reut2':
        try:
            file = open(dir_name + '/' + fn)
            content = file.read()
            content = content[:36] + "<ABSROOT>" + content[36:] + "</ABSROOT>"
            soup = BeautifulSoup(content, "xml")
            article_objects = soup.find_all('REUTERS')
            for a in article_objects:
                try:
                    b = a.find_all('BODY')
                    t = a.find_all('D')
                    if len(b) >= 1 and len(t) >= 1:
                        body.append(b[0].get_text().replace('\n', ' '))
                        topic.append(t[0].get_text())
                except:
                    pass
        except:
            pass
print(len(body))
print(len(topic))

all-exchanges-strings.lc.txt
all-orgs-strings.lc.txt
all-people-strings.lc.txt
all-places-strings.lc.txt
all-topics-strings.lc.txt
cat-descriptions_120396.txt
feldman-cia-worldfactbook-data.txt
lewis.dtd
README.txt
reut2-000.sgm
reut2-001.sgm
reut2-002.sgm
reut2-003.sgm
reut2-004.sgm
reut2-005.sgm
reut2-006.sgm
reut2-007.sgm
reut2-008.sgm
reut2-009.sgm
reut2-010.sgm
reut2-011.sgm
reut2-012.sgm
reut2-013.sgm
reut2-014.sgm
reut2-015.sgm
reut2-016.sgm
reut2-017.sgm
reut2-018.sgm
reut2-019.sgm
reut2-020.sgm
reut2-021.sgm
17520
17520

In [41]:
df = pd.DataFrame()

In [42]:
df['topic'] = topic
df['body'] = body

In [43]:
df.head()

   topic                                               body
0  cocoa  Showers continued throughout the week in the B...
1    usa  Standard Oil Co and BP North America Inc said ...
2    usa  Texas Commerce Bancshares Inc's Texas Commerce...
3    usa  BankAmerica Corp is not under pressure to act ...
4  grain  The U.S. Agriculture Department reported the f...

In [44]:
topics_of_interest = [
    'money',
    'fx',
    'crude',
    'grain',
    'trade',
    'interest',
    'wheat',
    'ship',
    'corn',
    'oil',
    'dlr',
    'gas',
    'oilseed',
    'supply',
    'sugar',
    'gnp',
    'coffee',
    'veg',
    'gold',
    'soybean',
    'bop',
    'livestock',
    'cpi'
]
df = df[df['topic'].isin(topics_of_interest)]

In [45]:
df.head()

     topic                                               body
4    grain  The U.S. Agriculture Department reported the f...
18   wheat  The Commodity Credit Corporation, CCC, has acc...
39  coffee  International Coffee Organization, ICO, produc...
43   sugar  Sugar imports subject to the U.S. sugar import...
44   trade  inflation plan, initially hailed at home and a...

In [47]:
df.to_csv('data.csv', index=False)