In [13]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import time

In [15]:
df = pd.read_csv('training_test_data.txt')

In [16]:
df.head()

    topic                                               body
0   grain  the u.s. agriculture department reported the f...
1   wheat  the commodity credit corporation, ccc, has acc...
2  coffee  international coffee organization, ico, produc...
3   sugar  sugar imports subject to the u.s. sugar import...
4   trade  inflation plan, initially hailed at home and a...

In [17]:
vectorizer = TfidfVectorizer()
start = time.clock()
df['body'] = vectorizer.fit_transform(df['body'])
end = time.clock()
sklearn_duration = end - start
print(sklearn_duration)
df.head()

0.6172040000000001

    topic                                               body
0   grain    (0, 15051)\t0.0269008829518\n  (0, 1549)\t0....
1   wheat    (0, 15051)\t0.0269008829518\n  (0, 1549)\t0....
2  coffee    (0, 15051)\t0.0269008829518\n  (0, 1549)\t0....
3   sugar    (0, 15051)\t0.0269008829518\n  (0, 1549)\t0....
4   trade    (0, 15051)\t0.0269008829518\n  (0, 1549)\t0....

In [28]:
from pyspark.mllib.feature import HashingTF, IDF
from pyspark.sql import SQLContext
from pyspark import SparkConf, SparkContext

In [36]:
# sc = SparkContext()
sqlContext = SQLContext(sc)
sdf = sqlContext.read.format('csv').options(header='true').load('training_test_data.txt')
start = time.clock()
print(sdf.body)
tf = HashingTF().transform(sdf.body)
idf = IDF().fit(tf)
tfidf = idf.transform(tf)
end = time.clock()
pyspark_duration = end - start

Column<b'body'>

TypeError: Column is not iterable